In [74]:
import pandas as pd
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt
import numpy as np

In [75]:
# Import data
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Data apre-Processing

In [76]:
#'Age','Attrition','DistanceFromHome','EnvironmentSatisfaction','Gender','HourlyRate','JobLevel','JobSatisfaction','MaritalStatus',
#'MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel',
#'TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager'


features=['TrainingTimesLastYear',
'PerformanceRating',
'Age',
'DistanceFromHome',
'StockOptionLevel',
'JobSatisfaction',
'MaritalStatus']


features=['TotalWorkingYears',
        'DistanceFromHome',
        'YearsSinceLastPromotion',
        'JobSatisfaction',
        'WorkLifeBalance',
        'MonthlyIncome',
         'StockOptionLevel']

In [77]:
#select features
data=df[features]
data_binary_encoded = pd.get_dummies(data)
X=data_binary_encoded
y= df[['Attrition']]


print(X.shape, y.shape)

(1470, 7) (1470, 1)

In [78]:
data_binary_encoded

,TotalWorkingYears,DistanceFromHome,YearsSinceLastPromotion,JobSatisfaction,WorkLifeBalance,MonthlyIncome,StockOptionLevel
0,8,1,0,4,1,5993,0
1,10,8,1,2,3,5130,1
2,7,2,0,3,3,2090,0
3,8,3,3,3,3,2909,0
4,6,2,2,2,3,3468,1
...,...,...,...,...,...,...,...
1465,17,23,0,4,3,2571,1
1466,9,6,1,1,3,9991,1
1467,6,4,0,2,3,6142,1
1468,17,2,0,2,2,5390,0
1469,6,8,1,3,4,4404,0

In [79]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

/Users/yazminrodriguez/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

## Create Deep Learning MOdel

In [107]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create a Neural Network model here
model= Sequential()
model.add(Dense(units=60, activation='relu', input_dim= 7))
model.add(Dense(units=60, activation='relu'))  # Deep learning. -Hidden Layer
model.add(Dense(units=2, activation='softmax'))  # Number of -y- categories

In [108]:
# Compile and fit the model


# Print the 
model.summary()

Model: "sequential_9"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_27 (Dense)             (None, 60)                480
_________________________________________________________________
dense_28 (Dense)             (None, 60)                3660
_________________________________________________________________
dense_29 (Dense)             (None, 2)                 122
=================================================================
Total params: 4,262
Trainable params: 4,262
Non-trainable params: 0
_________________________________________________________________

In [109]:
# Compile & Optimize the model

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=4,   # Number of iterations
    shuffle=True,
    verbose=2
)

Train on 1102 samples
Epoch 1/4
1102/1102 - 1s - loss: 0.5212 - accuracy: 0.8258
Epoch 2/4
1102/1102 - 0s - loss: 0.4159 - accuracy: 0.8466
Epoch 3/4
1102/1102 - 0s - loss: 0.4052 - accuracy: 0.8466
Epoch 4/4
1102/1102 - 0s - loss: 0.4009 - accuracy: 0.8466

## Quantify our Trained Model

In [110]:
model_loss, model_accuracy = model.evaluate(
                    X_test_scaled,
                    y_test_categorical,
                    verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

368/1 - 0s - loss: 0.3723 - accuracy: 0.8152
Normal Neural Network - Loss: 0.44263409142908844, Accuracy: 0.8152173757553101

## Make Predictions

In [100]:
# Use the first test data alues to make a prediction and compare it to the actual Labels

encoded_predictions= model.predict_classes(X_test_scaled[:5])
predicted_labels = label_encoder.inverse_transform(encoded_predictions)

print(encoded_predictions)
print(predicted_labels)
print(f"Actual Labels: {list(y_test[:5])}")  # Fisrt 5 elements predicted

[1 0 0 0 0]
['Yes' 'No' 'No' 'No' 'No']
Actual Labels: ['Attrition']

In [93]:
from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(model, verbose=2)

# List the best parameters for this dataset
print(grid.best_params_)

# Make predictions with the hypertuned model
predictions = grid.predict(X_test)

# Calculate classification report to validate the model
from sklearn.metrics import classification_report

print(classification_report(y_test, predictions,
                            target_names=["Yes", "No"]))

TypeError: __init__() missing 1 required positional argument: 'param_grid'

## Saving the model fot he Cloud

In [49]:
model.save("attr_trained_model.h5")   # Saved the model in the folder

## Loading the model

In [52]:

from tensorflow.keras.models import load_model

attrition_model = load_model("attr_trained_model.h5")

In [53]:
attrition_model

In [55]:
# Checking it is the same model

model_loss, model_accuracy = attrition_model.evaluate(X_test_scaled, 
                                                      y_test_categorical, 
                                                     verbose=2)
print(f"Normal Neural Network - Loss:{model_loss}, Accuracy: {model_accuracy}")

368/1 - 0s - loss: 0.4328 - accuracy: 0.8043
Normal Neural Network - Loss:0.5723636539086051, Accuracy: 0.804347813129425