In [65]:
import pandas as pd
from tensorflow.keras.utils import to_categorical
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical
import matplotlib.pyplot as plt
import numpy as np

In [66]:
# Import data
df = pd.read_csv("WA_Fn-UseC_-HR-Employee-Attrition.csv")

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

## Data apre-Processing

In [67]:
#'Age','Attrition','DistanceFromHome','EnvironmentSatisfaction','Gender','HourlyRate','JobLevel','JobSatisfaction','MaritalStatus',
#'MonthlyIncome','NumCompaniesWorked','PercentSalaryHike','PerformanceRating','RelationshipSatisfaction','StockOptionLevel',
#'TotalWorkingYears','TrainingTimesLastYear','WorkLifeBalance','YearsAtCompany','YearsInCurrentRole','YearsSinceLastPromotion','YearsWithCurrManager'


features=['TrainingTimesLastYear',
'PerformanceRating',
'Age',
'DistanceFromHome',
'StockOptionLevel',
'JobSatisfaction',
'MaritalStatus']


features=['TotalWorkingYears',
        'DistanceFromHome',
        'YearsSinceLastPromotion',
        'JobSatisfaction',
        'WorkLifeBalance',
        'MonthlyIncome',
         'StockOptionLevel']

In [68]:
#select features
data=df[features]
data_binary_encoded = pd.get_dummies(data)
X=data_binary_encoded
y= df[['Attrition']]


print(X.shape, y.shape)

(1470, 7) (1470, 1)

In [69]:
data_binary_encoded

,TotalWorkingYears,DistanceFromHome,YearsSinceLastPromotion,JobSatisfaction,WorkLifeBalance,MonthlyIncome,StockOptionLevel
0,8,1,0,4,1,5993,0
1,10,8,1,2,3,5130,1
2,7,2,0,3,3,2090,0
3,8,3,3,3,3,2909,0
4,6,2,2,2,3,3468,1
...,...,...,...,...,...,...,...
1465,17,23,0,4,3,2571,1
1466,9,6,1,1,3,9991,1
1467,6,4,0,2,3,6142,1
1468,17,2,0,2,2,5390,0
1469,6,8,1,3,4,4404,0

In [70]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from tensorflow.keras.utils import to_categorical

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
X_scaler = MinMaxScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)


# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

/Users/yazminrodriguez/opt/anaconda3/envs/tf2/lib/python3.7/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

## Create Deep Learning MOdel

In [71]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

# Create a Neural Network model here
model= Sequential()
model.add(Dense(units=100, activation='relu', input_dim= 9))
model.add(Dense(units=100, activation='relu'))  # Deep learning. -Hidden Layer
model.add(Dense(units=2, activation='softmax'))  # Number of -y- categories

In [43]:
# Compile and fit the model


# Print the 
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 100)               1000
_________________________________________________________________
dense_10 (Dense)             (None, 100)               10100
_________________________________________________________________
dense_11 (Dense)             (None, 2)                 202
=================================================================
Total params: 11,302
Trainable params: 11,302
Non-trainable params: 0
_________________________________________________________________

In [44]:
# Compile & Optimize the model

model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,   # Number of iterations
    shuffle=True,
    verbose=2
)

Train on 1102 samples
Epoch 1/100
1102/1102 - 0s - loss: 0.4740 - accuracy: 0.8330
Epoch 2/100
1102/1102 - 0s - loss: 0.4062 - accuracy: 0.8466
Epoch 3/100
1102/1102 - 0s - loss: 0.3994 - accuracy: 0.8466
Epoch 4/100
1102/1102 - 0s - loss: 0.3973 - accuracy: 0.8466
Epoch 5/100
1102/1102 - 0s - loss: 0.3936 - accuracy: 0.8485
Epoch 6/100
1102/1102 - 0s - loss: 0.3891 - accuracy: 0.8485
Epoch 7/100
1102/1102 - 0s - loss: 0.3863 - accuracy: 0.8548
Epoch 8/100
1102/1102 - 0s - loss: 0.3842 - accuracy: 0.8557
Epoch 9/100
1102/1102 - 0s - loss: 0.3818 - accuracy: 0.8584
Epoch 10/100
1102/1102 - 0s - loss: 0.3867 - accuracy: 0.8548
Epoch 11/100
1102/1102 - 0s - loss: 0.3782 - accuracy: 0.8575
Epoch 12/100
1102/1102 - 0s - loss: 0.3778 - accuracy: 0.8557
Epoch 13/100
1102/1102 - 0s - loss: 0.3760 - accuracy: 0.8566
Epoch 14/100
1102/1102 - 0s - loss: 0.3763 - accuracy: 0.8557
Epoch 15/100
1102/1102 - 0s - loss: 0.3737 - accuracy: 0.8539
Epoch 16/100
1102/1102 - 0s - loss: 0.3707 - accuracy: 0.8575
Epoch 17/100
1102/1102 - 0s - loss: 0.3738 - accuracy: 0.8603
Epoch 18/100
1102/1102 - 0s - loss: 0.3694 - accuracy: 0.8593
Epoch 19/100
1102/1102 - 0s - loss: 0.3673 - accuracy: 0.8575
Epoch 20/100
1102/1102 - 0s - loss: 0.3651 - accuracy: 0.8557
Epoch 21/100
1102/1102 - 0s - loss: 0.3688 - accuracy: 0.8548
Epoch 22/100
1102/1102 - 0s - loss: 0.3674 - accuracy: 0.8584
Epoch 23/100
1102/1102 - 0s - loss: 0.3633 - accuracy: 0.8530
Epoch 24/100
1102/1102 - 0s - loss: 0.3606 - accuracy: 0.8593
Epoch 25/100
1102/1102 - 0s - loss: 0.3618 - accuracy: 0.8566
Epoch 26/100
1102/1102 - 0s - loss: 0.3597 - accuracy: 0.8603
Epoch 27/100
1102/1102 - 0s - loss: 0.3603 - accuracy: 0.8603
Epoch 28/100
1102/1102 - 0s - loss: 0.3583 - accuracy: 0.8584
Epoch 29/100
1102/1102 - 0s - loss: 0.3561 - accuracy: 0.8575
Epoch 30/100
1102/1102 - 0s - loss: 0.3589 - accuracy: 0.8575
Epoch 31/100
1102/1102 - 0s - loss: 0.3540 - accuracy: 0.8593
Epoch 32/100
1102/1102 - 0s - loss: 0.3551 - accuracy: 0.8566
Epoch 33/100
1102/1102 - 0s - loss: 0.3517 - accuracy: 0.8621
Epoch 34/100
1102/1102 - 0s - loss: 0.3599 - accuracy: 0.8639
Epoch 35/100
1102/1102 - 0s - loss: 0.3505 - accuracy: 0.8612
Epoch 36/100
1102/1102 - 0s - loss: 0.3503 - accuracy: 0.8593
Epoch 37/100
1102/1102 - 0s - loss: 0.3582 - accuracy: 0.8612
Epoch 38/100
1102/1102 - 0s - loss: 0.3481 - accuracy: 0.8603
Epoch 39/100
1102/1102 - 0s - loss: 0.3480 - accuracy: 0.8603
Epoch 40/100
1102/1102 - 0s - loss: 0.3455 - accuracy: 0.8593
Epoch 41/100
1102/1102 - 0s - loss: 0.3437 - accuracy: 0.8621
Epoch 42/100
1102/1102 - 0s - loss: 0.3473 - accuracy: 0.8630
Epoch 43/100
1102/1102 - 0s - loss: 0.3408 - accuracy: 0.8630
Epoch 44/100
1102/1102 - 0s - loss: 0.3438 - accuracy: 0.8630
Epoch 45/100
1102/1102 - 0s - loss: 0.3411 - accuracy: 0.8666
Epoch 46/100
1102/1102 - 0s - loss: 0.3382 - accuracy: 0.8675
Epoch 47/100
1102/1102 - 0s - loss: 0.3383 - accuracy: 0.8621
Epoch 48/100
1102/1102 - 0s - loss: 0.3406 - accuracy: 0.8630
Epoch 49/100
1102/1102 - 0s - loss: 0.3369 - accuracy: 0.8666
Epoch 50/100
1102/1102 - 0s - loss: 0.3376 - accuracy: 0.8630
Epoch 51/100
1102/1102 - 0s - loss: 0.3389 - accuracy: 0.8603
Epoch 52/100
1102/1102 - 0s - loss: 0.3412 - accuracy: 0.8639
Epoch 53/100
1102/1102 - 0s - loss: 0.3350 - accuracy: 0.8666
Epoch 54/100
1102/1102 - 0s - loss: 0.3310 - accuracy: 0.8666
Epoch 55/100
1102/1102 - 0s - loss: 0.3336 - accuracy: 0.8648
Epoch 56/100
1102/1102 - 0s - loss: 0.3326 - accuracy: 0.8657
Epoch 57/100
1102/1102 - 0s - loss: 0.3315 - accuracy: 0.8675
Epoch 58/100
1102/1102 - 0s - loss: 0.3324 - accuracy: 0.8630
Epoch 59/100
1102/1102 - 0s - loss: 0.3337 - accuracy: 0.8639
Epoch 60/100
1102/1102 - 0s - loss: 0.3324 - accuracy: 0.8693
Epoch 61/100
1102/1102 - 0s - loss: 0.3332 - accuracy: 0.8675
Epoch 62/100
1102/1102 - 0s - loss: 0.3304 - accuracy: 0.8711
Epoch 63/100
1102/1102 - 0s - loss: 0.3234 - accuracy: 0.8693
Epoch 64/100
1102/1102 - 0s - loss: 0.3267 - accuracy: 0.8648
Epoch 65/100
1102/1102 - 0s - loss: 0.3371 - accuracy: 0.8630
Epoch 66/100
1102/1102 - 0s - loss: 0.3256 - accuracy: 0.8675
Epoch 67/100
1102/1102 - 0s - loss: 0.3231 - accuracy: 0.8657
Epoch 68/100
1102/1102 - 0s - loss: 0.3244 - accuracy: 0.8748
Epoch 69/100
1102/1102 - 0s - loss: 0.3195 - accuracy: 0.8693
Epoch 70/100
1102/1102 - 0s - loss: 0.3193 - accuracy: 0.8739
Epoch 71/100
1102/1102 - 0s - loss: 0.3198 - accuracy: 0.8721
Epoch 72/100
1102/1102 - 0s - loss: 0.3154 - accuracy: 0.8730
Epoch 73/100
1102/1102 - 0s - loss: 0.3188 - accuracy: 0.8775
Epoch 74/100
1102/1102 - 0s - loss: 0.3149 - accuracy: 0.8693
Epoch 75/100
1102/1102 - 0s - loss: 0.3174 - accuracy: 0.8702
Epoch 76/100
1102/1102 - 0s - loss: 0.3170 - accuracy: 0.8775
Epoch 77/100
1102/1102 - 0s - loss: 0.3171 - accuracy: 0.8702
Epoch 78/100
1102/1102 - 0s - loss: 0.3100 - accuracy: 0.8757
Epoch 79/100
1102/1102 - 0s - loss: 0.3118 - accuracy: 0.8748
Epoch 80/100
1102/1102 - 0s - loss: 0.3150 - accuracy: 0.8730
Epoch 81/100
1102/1102 - 0s - loss: 0.3072 - accuracy: 0.8766
Epoch 82/100
1102/1102 - 0s - loss: 0.3122 - accuracy: 0.8721
Epoch 83/100
1102/1102 - 0s - loss: 0.3159 - accuracy: 0.8757
Epoch 84/100
1102/1102 - 0s - loss: 0.3065 - accuracy: 0.8757
Epoch 85/100
1102/1102 - 0s - loss: 0.3073 - accuracy: 0.8748
Epoch 86/100
1102/1102 - 0s - loss: 0.3103 - accuracy: 0.8730
Epoch 87/100
1102/1102 - 0s - loss: 0.3051 - accuracy: 0.8784
Epoch 88/100
1102/1102 - 0s - loss: 0.3057 - accuracy: 0.8820
Epoch 89/100
1102/1102 - 0s - loss: 0.3081 - accuracy: 0.8711
Epoch 90/100
1102/1102 - 0s - loss: 0.3032 - accuracy: 0.8793
Epoch 91/100
1102/1102 - 0s - loss: 0.3034 - accuracy: 0.8730
Epoch 92/100
1102/1102 - 0s - loss: 0.3047 - accuracy: 0.8766
Epoch 93/100
1102/1102 - 0s - loss: 0.3085 - accuracy: 0.8684
Epoch 94/100
1102/1102 - 0s - loss: 0.3031 - accuracy: 0.8784
Epoch 95/100
1102/1102 - 0s - loss: 0.2963 - accuracy: 0.8802
Epoch 96/100
1102/1102 - 0s - loss: 0.2970 - accuracy: 0.8820
Epoch 97/100
1102/1102 - 0s - loss: 0.2981 - accuracy: 0.8766
Epoch 98/100
1102/1102 - 0s - loss: 0.2982 - accuracy: 0.8757
Epoch 99/100
1102/1102 - 0s - loss: 0.2953 - accuracy: 0.8793
Epoch 100/100
1102/1102 - 0s - loss: 0.2938 - accuracy: 0.8775

## Quantify our Trained Model

In [45]:
model_loss, model_accuracy = model.evaluate(
                    X_test_scaled,
                    y_test_categorical,
                    verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

368/1 - 0s - loss: 0.4328 - accuracy: 0.8043
Normal Neural Network - Loss: 0.5723636539086051, Accuracy: 0.804347813129425

## Make Predictions

In [48]:
# Use the first test data alues to make a prediction and compare it to the actual Labels

encoded_predictions= model.predict_classes(X_test_scaled[:5])
predicted_labels = label_encoder.inverse_transform(encoded_predictions)

print(encoded_predictions)
print(predicted_labels)
print(f"Actual Labels: {list(y_test[:5])}")  # Fisrt 5 elements predicted

[0 0 0 0 0]
['No' 'No' 'No' 'No' 'No']
Actual Labels: ['Attrition']

## Saving the model fot he Cloud

In [49]:
model.save("attr_trained_model.h5")   # Saved the model in the folder

## Loading the model

In [52]:

from tensorflow.keras.models import load_model

attrition_model = load_model("attr_trained_model.h5")

In [53]:
attrition_model

In [55]:
# Checking it is the same model

model_loss, model_accuracy = attrition_model.evaluate(X_test_scaled, 
                                                      y_test_categorical, 
                                                     verbose=2)
print(f"Normal Neural Network - Loss:{model_loss}, Accuracy: {model_accuracy}")

368/1 - 0s - loss: 0.4328 - accuracy: 0.8043
Normal Neural Network - Loss:0.5723636539086051, Accuracy: 0.804347813129425